<!DOCTYPE html>
<html lang="en" data-files="Marker-Felt.woff img/wood.png">
<head>
    <meta charset="UTF-8">
    <title>Boxdash</title>
    <link rel="stylesheet" href="https://get.mavo.io/mavo.css" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <script src="https://get.mavo.io/mavo.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/layout.css" />
    <link rel="stylesheet" href="assets/css/extra.css" />
</head>
<body class="sans-serif" style="background-color: #EEE">

    <div mv-app="todo" mv-storage="https://github.com/tscanlin/boxdash-data" mv-mode="edit">
        <div class="mv-bar mv-ui">
            <button>Git-keep</button>
            <button class="ui-settings" style="order:9">
                <!-- <span style="transform:scale(1.1); opacity: 0.5; vertical-align: .1em; margin-right: .3em;">⚙</span> -->
                Settings
            </button>

        </div>

        <header>
            <p><strong>[count(itemDone)]</strong> done out of <strong>[count(listItem)]</strong> total</p>

            <!-- Settings -->
            <meta property="showSettings" mv-mode="none" /> 
            <button mv-action="set(showSettings, !showSettings)">Settings</button>
            <div class="note-dropdown-background-container tint-bg absolute z-4 nl2 ml0 dn pa2 left-0 [if(showSettings = true, 'db', 'dn')]" style="width: inherit;">
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-black')">cbg-black</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-red')">cbg-red</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-orange')">cbg-orange</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-yellow')">cbg-yellow</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-green')">cbg-green</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-teal')">cbg-teal</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-blue')">cbg-blue</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-dark-blue')">cbg-dark-blue</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-purple')">cbg-purple</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-pink')">cbg-pink</button>
                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-gray')">cbg-gray</button>
                <!-- <button class="button-link white" data-value="#442f14">cbg-brown</button> -->
            </div>
        </header>

        <div>
            <input type="text" property="searchText" mv-storage="none" />
            <button mv-action="log($this), log(filter(notes, contains(listItem.itemTitle, searchText)))">go</button>
        </div>

        <div class="notes-wrapper ml1" style="min-height: 800px;">
            <div class="note-container v-top mr2 mb2 [if(!searchText or contains(noteTitle, searchText) or contains(join(listItem.itemTitle) or contains(noteBody, searchText), 'dib', 'dn')]" property="notes" mv-multiple>
                <!-- <meta  property="filtered" mv-mode="none" content="[]" /> -->
                <input id="note-expand-[$index]" class="note-expand-checkbox dn" type="checkbox" />
                
                <div class="note-content relative pv3 ph2 ba b--silver br2 [bgColor]">
                    
                    <h4 property="noteTitle" class="ma0 mb2">Title</h4>
                    <label for="note-expand-[$index]" class="note-expand-label db absolute top-0 right-0 pa1 ph2 pointer">Expand</label>

                    <div mv-if="showCheckboxes = true">
                        <div class="listItem" property="listItem" mv-multiple class="listItem" style="padding: 2px 0;">
                            <div class="listItem-wrapper cf">
                                <input property="itemDone" type="checkbox" class="dib v-top relative" style="top: 3px" />
                                <div property="itemTitle" class="itemTitle tinymce dib" style="width: calc(100% - 22px)">Add note here</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="overflow-hidden" style="height: [if(showCheckboxes = true, 0, auto)]">
                        <div property="noteBody" class="tinymce">Add note here</div>
                    </div>
                    
                    <br />

                    <div class="relative tr nb2">
                        <div class="">
                            <input id="note-dropdown-background-[$index]" class="note-dropdown-background-checkbox dn" type="checkbox" />
                            <label role="button" for="note-dropdown-background-[$index]" tabindex="0" class="note-dropdown-background-label pointer ml2">
                                Background
                            </label>
                            <input type="hidden" property="bgColor">
                            <div class="note-dropdown-background-container tint-bg absolute z-4 nl2 ml0 dn pa2 left-0" style="width: inherit;">
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-black')">cbg-black</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-red')">cbg-red</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-orange')">cbg-orange</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-yellow')">cbg-yellow</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-green')">cbg-green</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-teal')">cbg-teal</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-blue')">cbg-blue</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-dark-blue')">cbg-dark-blue</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-purple')">cbg-purple</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-pink')">cbg-pink</button>
                                <button class="button-link w-100 tl white" mv-action="set(bgColor, 'cbg-gray')">cbg-gray</button>
                                <!-- <button class="button-link white" data-value="#442f14">cbg-brown</button> -->
                            </div>
                            
                            <input id="note-dropdown-options-[$index]" class="note-dropdown-options-checkbox dn" type="checkbox" />
                            <label role="button" for="note-dropdown-options-[$index]" tabindex="0" class="note-dropdown-options-label pointer ml2">
                                Options
                            </label>
                            <div class="note-dropdown-options-container tl tint-bg absolute z-4 nl2 ml0 dn pa2 left-0" style="width: inherit;">
                                <input class="dn" type="checkbox" property="showCheckboxes" checked="false" />
                                <button class="button-link w-100 tl white" mv-if="showCheckboxes = false" mv-action="delete(listItem), set(listItem, noteBody.split('\n')), set(showCheckboxes, !showCheckboxes)">Show checkboxes</button>
                                <button class="button-link w-100 tl white" mv-if="showCheckboxes = true" mv-action="log(itemTitle.join('\n')), set(noteBody, itemTitle.join('\n')), set(showCheckboxes, !showCheckboxes)">Hide checkboxes</button>
                                <button class="button-link w-100 tl white" mv-action="delete(listItem where itemDone)">delete checked items</button>
                                <button class="button-link w-100 tl white" mv-action="set(itemDone, false)">uncheck all items</button>
                                <button class="button-link w-100 tl white">delete note</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <input type="hidden" property="noteExpand" />
                    <button mv-action="set(noteExpand, !noteExpand)">toggle</button> -->

                    <!-- set(noteBody, listItem.itemTitle.join('\n')) -->
                    <!-- <button class="clear-completed" mv-action="delete(task where done)">Clear Completed</button> -->
                </div>
            </div>
        
            <span class="note-container break dn-s"></span>            
            <span class="note-container break dn-s"></span>
            <span class="note-container break dn-s"></span>
            <span class="note-container break dn-s"></span>
        
            <!-- <span class="note-container break"></span> -->
            <!-- <span class="note-container break"></span> -->
            
        </div>
    </div>
    <div class="mb5">hi</div>

    <!-- <div mv-app="todo2" mv-storage="https://github.com/tscanlin/boxdash-data" mv-mode="edit">
        <header>
            <h1>My tasks</h1>
            <p><strong>[count(done)]</strong> done out of <strong>[count(task)]</strong> total</p>
        </header>

        <ul>
            <li property="task" mv-multiple>
                <label>
                    <input property="done" type="checkbox" />
                    <span property="taskTitle">Do stuff</span>
                </label>
            </li>
        </ul>
    </div> -->

    <script src="assets/js/mavo-tinymce.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>